* {
    box-sizing: border-box;

    margin: 0;
}

:root {
    --main-black: black;
    --main-white: rgb(255, 255, 255);
}
.container{
    background-color: #fff4ea ;
}
.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-white);
}

.nav-logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    font-style: italic;
}

.menu-container {
    display: flex;
}

.menu-container ul {
    display: flex;
    justify-content: space-around;
    width: 500px;
    gap: 25px;
}

.menu-container li {
    list-style: none;
    display: flex;


}

.menu-container a {
    text-decoration: none;
    color: var(--main-black);
    font-size: 20px;
    font-weight: 600;
}

.cart-section {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}

.banner-container {
    display: flex;
   
    justify-content: space-around;
align-items: center;
height: 90vh;

}

.banner-text-container h2 {
    width: 300px;
}

.btn {
    border: none;
    background-color: #bc9e82;
    padding: 10px 18px;
    display: inline-block;
    cursor: pointer;
    color: aliceblue;
    font-weight: 600;
    font-size: 20px;
    width: 160px;
 
    margin-top: 60px;

}

.banner-container-images img {
    width: 300px;
}

.banner-img1 {
    clip-path: ellipse(32% 50% at 50% 50%);
}

.banner-img2 {
    clip-path: circle(50% at 2% 50%);
}

.banner-img3 {
    border-radius: 45% 45% 0% 0%;
}
.png1{
    width: 300px;

}
.png2{
    width: 300px;
}
.fashion-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.fashion-text-container{
    text-align: center;
    margin-bottom: 30px;
    font-size: 22px;
}
.png1{
    border-radius: 45% 45% 0% 0%;
}
.png2{
    clip-path: ellipse(32% 50% at 50% 50%);
}
.jh-item-image-1{
    width: 300px;
    background-image: url("../images/alexandru-zdrobau-BGz8vO3pK8k-unsplash.jpg");
    height: 500px;
    background-position: center;
    background-size: cover;
}
.jh-item-image-2{
    width: 300px;
    background-image: url("../images/alexandru-zdrobau-BGz8vO3pK8k-unsplash.jpg");
    height: 500px;

    background-position: center;
    background-size: cover;
}
.jh-item-image-3{
    width: 300px;
    background-image: url("../images/alexandru-zdrobau-BGz8vO3pK8k-unsplash.jpg");
    height: 500px;
    background-position: center;
    background-size: cover;
}
.jh-container-images{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10PX;
}
.jh-item-image-4{
    width: 300px;
    background-image: url("../images/alexandru-zdrobau-BGz8vO3pK8k-unsplash.jpg");
    height: 500px;
    background-position: center;
    background-size: cover;
}